.fs-50 {
    font-size: 50%;
}

.fs-70 {
    font-size: 70%;
}

.fs-80 {
    font-size: 80%;
}

.fs-85 {
    font-size: 85%;
}

.fs-90 {
    font-size: 90%;
}

.fs-95 {
    font-size: 95%;
}

.fs-100 {
    font-size: 100%;
}

.fs-105 {
    font-size: 105%;
}

.fs-110 {
    font-size: 110%;
}

.fs-115 {
    font-size: 115%;
}

.fs-120 {
    font-size: 120%;
}

.fs-130 {
    font-size: 130%;
}

.fs-150 {
    font-size: 150%;
}