@import "resources/assets/sass/variables";

/*==== Notification =====================================================*/

.notifications {
    max-width: 600px;
    margin-top: -20px;
    margin-bottom: 10px;
    /*    margin-left: 20px;
        margin-right: 20px;*/
    font-size: 110%;
    font-weight: bold;
    text-align: center;
}

.notifications .callout {
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.notifications .close {
    color: white;
    opacity: 0.7;
}

/*==== Validation =====================================================*/

.validation-errors {
    font-size: 110%;
    font-weight: bold;
    box-shadow: 0 0 5px red;
}

.validation-errors i {
    padding-right: 5px;
}
