/* 
    Created on : 2015-11-19, 22:20:17
    Author     : Rav
*/

.world-map-canvas {
    position: fixed;
    width: calc(100% - 230px);
    margin: 0 !important;
    padding: 0 !important;
    /*border: 3px solid red;*/
    border: none !important;
    border-left: 1px solid black !important;
    border-top: 1px solid #050 !important;
    top: 50px;
    bottom: 0px;
    left: 230px;
    background-image: url(/img/tiles/wasteland/wasteland2.jpg);
    /*background-size: 100% 100%;*/
    background-size: 60%;
    border-radius: 0 !important;
}

.engine-unit {
    position: absolute;
    cursor: pointer;
    
    &:hover {
        
    }
}
