.worldmap {
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    /*        background-size: 250% 250%;
            background-position-x: 10%;
            background-position-y: 10%;*/
}

.game-messages {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    color: #9f9;
    text-shadow: 1px 1px black;
}