.worldmap-location {
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: #0e0;
    background-color: rgba(0, 255, 0, 0.2);
    border: 1.5px solid rgba(0, 255, 0, 0.75);
    border-radius: 50%;
    
    label {
        width: 100px;
        max-width: none;
        cursor: inherit;
    }
}