.map-tile {
    position: absolute;
}

/* ============================================= */

.map-debug {

    .map-tile {
        border-bottom: 1px dashed rgba(0, 150, 205, 0.1);
        border-right: 1px dashed rgba(0, 150, 205, 0.1);

        &:hover {
            background-color: rgba(0, 200, 255, 1);
            border-bottom: 1px dashed rgba(0, 150, 205, 0.3);
            border-right: 1px dashed rgba(0, 150, 205, 0.3);
        }
    }

}